:root {
--blue: hsl(246, 80%, 60%);

--light-orange: hsl(15, 100%, 70%);
--soft-blue: hsl(195, 74%, 62%);
--light-red: hsl(348, 100%, 68%);
--lime-green: hsl(145, 58%, 55%);
--violet: hsl(264, 64%, 52%);
--soft-orange: hsl(43, 84%, 65%);

--very-dark-blue: hsl(226, 43%, 10%);
--dark-blue: hsl(235, 46%, 20%);
--desaturated-blue: hsl(235, 45%, 61%);
--pale-blue: hsl(236, 100%, 87%);

--body-font-size: 18px;
}

.body-grid {

    --padding-inline: 2rem;
    --padding-block: 5rem;
    --content-max-width: 70rem;
    min-height: 100vh;

    background-color: var(--very-dark-blue);
    
    display: grid;   
    grid-template-columns: 
        minmax(var(--padding-inline), 10rem) 
        [content-start] min(100% - (var(--padding-inline) * 2), var(--content-max-width)) 
        [content-end] minmax(var(--padding-inline), 10rem);
        
    grid-template-rows: 
        minmax(var(--padding-block), 10rem)
        [content-start] auto [content-end] 
        minmax(var(--padding-block), 10rem);
}

.main-con {

    --gap-val: 1rem;
    --content-max-width: 20rem;
    grid-column: content;
    grid-row: content;

    display: grid;
    grid-template-columns: 
        [main-content-col-start] repeat(auto-fill, minmax(min(14.3rem, 100%), 1fr))
        [main-content-col-end];

    grid-template-rows: 
        [main-content-row-start] repeat(2, 1fr)
        [main-content-row-end];
    gap: 1rem;
    
}
.user-card {
   grid-row: 1 / span 2;
   background-color: var(--dark-blue);
   border-radius: 20px;
   display: flex;
   flex-direction: column;

}
.time-frame-con {
display: flex;
flex-direction: column;

flex: 1;
padding-inline-start: 2rem;
padding-block: 2rem;
color: var(--desaturated-blue);

}

.time-frame-con>label:hover {
 color: white;
 cursor: pointer;
 
}

input[type="radio"] {
 display: none;
}


input[type="radio"]:checked + label {
  color: white;
}

.work-card {
    
    background-color: var(--dark-blue);
}
.name-con {
    background-color: var(--blue);
    border-radius: 20px;
    padding-inline-start: 2rem;
    padding-block-start: 2rem;
   flex: 2;
   display: flex;
   flex-direction: column;
}
.name-img {
    
    border: 3px solid var(--pale-blue);
    border-radius: 800px;
    
    
}
.name-head {
    font-size: 3rem;
}


.footer-con {
    grid-column: content;
    grid-row: content-end;
    align-self: flex-end;
}

.profile-con {
    padding-block-start: 2rem;
}

@media (max-width: 760px) {
    .time-frame-con {
        flex-direction: row;
        
    }

    .name-con {
        flex-direction: row;
    }
}


.rubik-300 {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
.rubik-400 {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.rubik-500 {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}